*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
node_modules/
# Abaikan folder output umum, KECUALI file grafik utamanya
graphify-out/*
!graphify-out/graph.json

# Wajib abaikan file pelacak biaya agar tidak memicu churn commit
graphify-out/cost.json

.continue/